<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <!-- Project base directory -->
        <Property name="basePath">${sys:user.dir}</Property>
    </Properties>


    <Appenders>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level  - *****%msg%n"/>
        </Console>

        <!-- File Appender -->
        <File name="FileLogger"
              fileName="${basePath}/src/test/java/results/logs.log"
              append="false">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level  - ******%msg%n"/>
        </File>

    </Appenders>

    <Loggers>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>
</Configuration>
